body{
	background:url(c1.jpg)no-repeat;
	background-size:cover;
	font-family:Arial;
	color:none;
}
.registration{
	max-width:650px;
	border-radius:20px;
	margin:auto;
	background:rgba(0,0,0,0.6);
	padding:40px;
	box-sizing:border-box;
	color:#fff; 
	margin-top:100px;
}
h2{
	text-align:center;
}
input[type=text],input[type=password] {
	width:100%
	box-sizing:border-box;
	padding:12px 5px;
	background:rgba(0,0,0,0.100);
	outline:none;
	border:none;
	border-bottom:1px dotted #fff;
	border-radius:5px;
	margin:5px;
	font-weight:bold;
	color:#fff;

}
input[type=submit]{
	outline:0;
	background:#10AC84;;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	width:100px;
	padding:10px;
	border:2.5px solid #39dc79;
	border-radius:25px;
	cursor:pointer;
	transition:0.5s;
	transition-property:background,transform;
}
input[type=email],input[type=date] {
	width:100%
	padding:12px 15px;
	border-radius:5px;
	margin:5px;
	font-weight:bold;
	border-bottom:1px dotted #fff;
	box-sizing:border-box;
	padding:12px 5px;
	background:rgba(0,0,0,0.10);
	outline:none;
	border:none;
	color:#fff;

}
.option{
width:100%
	box-sizing:border-box;
	padding:12px 15px;
	background:rgba(0,0,0,0.10);
	outline:none;
	border:none;
	border-bottom:1px dotted #fff;
	border-radius:5px;
	margin:5px;
	font-weight:bold;
	color:#fff;
}
input[type=submit]:hover{
	background:#003366;
	opacity:0.7;
}